<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>climax</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Climax</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/index">Accueil <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/stat">Statistiques</a>
        </div>
    </div>
</nav>
<br>
  <div class="container">
      <h4>Moyenne Salariale par Profession</h4>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Profession</th>
              <th scope="col">Moyenne par Profession en K €</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="entry : ${moyennesSalariales}">
              <td th:text="${entry.key}"></td>
              <td style="color:orange" th:text="${entry.value}"></td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>